* {
    padding: 0;
    margin: 0;
    font-family: 'Cardo', serif;
}

.brown {
    color: tomato;
}

.bgimg {
    width: 100%;
    height: 100vh;
    background-image: url("images/bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;
}

.myprofile {
    width: 400px;
    background-color: rgb(0, 0, 0, 0.7);
    padding: 30px 0;
    border-radius: 10%;
}

img {
    height: 250px;
    border-radius: 70%;
}

.i {
    color: white;
}